.header__lang-link {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.17;
  color: #fff;
  text-decoration: none;
}
.header__lang-link:hover {
  opacity: .8;
}
@media screen and (max-width: 544px) {
  .header__lang-link {
    margin-top: 10px;
    font-size: 18px;
    line-height: 1;
  }
}
