.header__lang {
  margin: 10px 0 0;
  display: flex;
  align-self: center;
  column-gap: 18px;
  padding: 0;
}

@media screen and (max-width: 544px) {
  .header__lang {
    margin-top: 0;
    align-self: center;
  }
}
