.place__paragraph {
  margin: 0 0 26px;
  font-size: 18px;
  line-height: 1.63;
}
.place__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 896px) {
  .place__paragraph {
    margin-bottom: 25px;
    font-size: 16px;
  }
}

@media screen and (max-width: 544px) {
  .place__paragraph {
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 25px;
  }
}
