.footer__links-item {
  width: fit-content;
  font-size: 16px;
  line-height: 1.12;
  text-decoration: none;
  color: #fff;
}

.footer__links-item:hover {
  opacity: .8;
}

@media screen and (max-width: 544px) {
  .footer__links-item {
    font-size: 24px;
    line-height: 1;
  }
}
