.lead__caption {
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
@media screen and (max-width: 896px) {
  .lead__caption {
    padding-left: 24px;
  }
}
@media screen and (max-width: 544px) {
  .lead__caption {
    padding-left: 16px;
  }
}
